<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>
            {% block title %} {% endblock %} | Puddle
        </title>
    </head>
    <body>
        <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200">
            <a href = "/" class="text-xl font-semibold">Puddle</a>

            <div class="space-x-6">
                <a href="{% url 'item:new'%}" class="text-lg font-semibold hover:text-gray-500">New Item</a>
                <a href="{% url 'item:browse'%}" class="text-lg font-semibold hover:text-gray-500">Browse</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'conversation:inbox'%}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700 ">Inbox</a>
                    <a href="{% url 'dashboard:index'%}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700 ">Dashboard</a>
                {% else %}
                    <a href="{% url 'core:signup' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700 ">Sign Up</a>
                    <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700 ">Log In</a>
                {% endif %}
            </div>
        </nav> 
        <div class="px-6 py-6">
            {% block content %}
            {% endblock%}
        </div>

        <footer class="py-6 px-6 flex justify-between bg-gray-800">
            <div class="w-2/3 pr-10">
                <h3 class="mb-5 font-semibold text-gray-400">About</h3>
                <p class="text-lg text-gray-500">Welcome to Puddle, your go-to destination for all things stylish and convenient in the world of online shopping. At Puddle, we believe in making your shopping experience as seamless as possible, offering a curated selection of high-quality products at competitive prices.

                    Founded with a passion for bringing the latest trends right to your fingertips, Puddle strives to be your ultimate one-stop shop for fashion, lifestyle, and home essentials. Our team works tirelessly to handpick each item, ensuring that every purchase exceeds your expectations in both quality and style.
                    
                    With a commitment to customer satisfaction, Puddle is more than just a marketplace; we're a community of trendsetters and tastemakers dedicated to helping you express your unique personality through your purchases.</p>
            </div>

            <div class="w-1/3">
                <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>
                <ul class="space-y-2">
                    <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700"> About </a></li>
                    <li><a href="{% url 'core:contacts' %}" class="text-lg text-teal-500 hover:text-teal-700"> Contact </a></li>
                    <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700"> Privacy policy </a></li>
                    <li><a href="#" class="text-lg text-teal-500 hover:text-teal-700"> Terms of Use </a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
